<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Vehicles' | localize" [description]="'VehiclesHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-primary" (click)="createVehicle()">
                    <i class="fa fa-plus"></i>{{ 'CreateNewVehicle' | localize }}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <dx-data-grid
                            id="gridContainer"
                            [dataSource]="primengTableHelper.records"
                            keyExpr="id"
                            [remoteOperations]="false"
                            [allowColumnReordering]="true"
                            [rowAlternationEnabled]="true"
                            [showBorders]="true"
                            (onRowInserting)="insertRow($event)"
                            (onRowRemoving)="validateRemove($event)">
                            <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                            </dxo-editing>
                            <dxi-column dataField="plateNumber" [caption]="l('PlateNumber')"></dxi-column>
                            <dxi-column dataField="model" [caption]="l('Model')"></dxi-column>
                            <dxi-column dataField="manufacturer" [caption]="l('Manufacturer')"></dxi-column>
                            <dxi-column dataField="productionYear" [caption]="l('ProductionYear')"></dxi-column>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>

        <createVehicleModal #createVehicleModal (modalSave)="getVehicles()"></createVehicleModal>
        <editVehicleModal #editVehicleModal (modalSave)="getVehicles()"></editVehicleModal>
    </div>
</div>
