<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Vehicles' | localize"
            [description]="'VehiclesHeaderInfo' | localize">
            <div role="actions">
                <button
                    class="btn btn-primary"
                    (click)="createVehicle()"><i class="fa fa-plus"></i>{{"CreateNewVehicle" | localize}}
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="form">
                        <form (submit)="getVehicles()"
                            autocomplete="new-password">
                            <div class="form-body">

                                <div class="row mb-4">
                                    <div class="col-xl-6">
                                        <label
                                            for="PlateNumberOrModel">{{'PlateNumberOrModel' | localize}}</label>
                                        <div class="input-group">
                                            <input id="PlateNumberOrModel"
                                                [(ngModel)]="filters.filterText"
                                                name="filterText"
                                                class="form-control"
                                                placeholder="{{'SearchWithThreeDot' | localize}}"
                                                type="text">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"
                                                        [attr.aria-label]="l('Search')"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-xl-12 text-right">
                                        <button name="RefreshButton"
                                            class="btn btn-primary"><i class="fa fa-sync"></i>
                                            {{'Refresh' | localize}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container"
                            [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable
                                sortMode="multiple"
                                (onLazyLoad)="getVehicles($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                [paginator]="false"
                                [lazy]="true"
                                [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:130px">{{'Actions' | localize}}</th>
                                        <th pSortableColumn="manufacturer">
                                            {{'Manufacturer' | localize}}
                                            <p-sortIcon field="manufacturer"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="model">
                                            {{'Model' | localize}}
                                            <p-sortIcon field="model"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="productionYear">
                                            {{'ProductionYear' | localize}}
                                            <p-sortIcon field="productionYear"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="plateNumber">
                                            {{'PlateNumber' | localize}}
                                            <p-sortIcon field="plateNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="description">
                                            {{'Description' | localize}}
                                            <p-sortIcon field="description"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creationTime">
                                            {{'CreationTime' | localize}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body"
                                    let-record="$implicit">
                                    <tr>
                                        <td style="width: 130px">
                                            <div class="btn-group"
                                                dropdown
                                                placement="bottom left">
                                                <button id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton">
                                                    
                                                    <li  role="menuitem">
                                                        <a href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="deleteVehicle(record)">{{'Delete' | localize}}</a>
                                                    </li>
                                                    <li role="menuitem">
                                                        <a href="javascript:;"
                                                            class="dropdown-item"
                                                            (click)="updateVehicle(record)">{{'Edit' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'Manufacturer' | localize}}</span>
                                            {{record.manufacturer}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'Model' | localize}}</span>
                                            {{record.model}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'ProductionYear' | localize}}</span>
                                            {{record.productionYear}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'PlateNumber' | localize}}</span>
                                            {{record.plateNumber}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'Description' | localize}}</span>
                                            {{record.description}}
                                        </td>
                                        <td>
                                            <span class="p-column-title">{{'CreationTime' | localize}}</span>
                                            {{record.creationTime | luxonFormat:'F'}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data"
                                *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

       <createVehicleModal #createVehicleModal
            (modalSave)="getVehicles()"></createVehicleModal>
        <editVehicleModal #editVehicleModal
            (modalSave)="getVehicles()"></editVehicleModal>
        <!--  <tenantFeaturesModal #tenantFeaturesModal></tenantFeaturesModal>
        <commonLookupModal #impersonateUserLookupModal
            (itemSelected)="impersonateUser($event)"></commonLookupModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal> -->
    </div>
</div>
